In [1]:
import pandas as pd
import numpy as np
import json
pd.set_option('display.max_columns',100)
import ast

In [2]:
df = pd.read_csv('newtweets.csv')

In [5]:
df.head()

,Unnamed: 0,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,is_quote_status,lang,metadata,place,possibly_sensitive,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,0,NaN,NaN,2018-04-12,"{'user_mentions': [{'id_str': '14068176', 'scr...",NaN,0,False,NaN,984324595443490816,984324595443490816,NaN,NaN,NaN,NaN,NaN,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,0.0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Check out @AhaanPanday chilling at Hyde Park i...,True,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
1,1,NaN,NaN,2018-04-11,"{'media': [{'id_str': '984047430311317506', 's...","{'media': [{'id_str': '984047430311317506', 's...",13,False,NaN,984047465249824769,984047465249824768,NaN,NaN,NaN,NaN,NaN,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,0.0,1,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Style runs in the family ‚ù§üëå #AnanyaPanday in t...,False,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
2,2,NaN,NaN,2018-04-10,"{'user_mentions': [{'id_str': '1354021147', 's...",NaN,0,False,NaN,983590800272560129,983590800272560128,dubeyira,NaN,NaN,1.354021e+09,1.354021e+09,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,0.0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",@dubeyira spotted in @BHG wearing this floral ...,True,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
3,3,NaN,NaN,2018-04-10,"{'user_mentions': [{'id_str': '199464518', 'sc...",NaN,0,False,NaN,983580784542953472,983580784542953472,thenidasheriff,9.830000e+17,9.830000e+17,1.994645e+08,1.994645e+08,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,NaN,0,False,NaN,"<a href=""https://www.onedirect.in/"" rel=""nofol...",@thenidasheriff Hi! Thanks for your valuable f...,False,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
4,4,NaN,NaN,2018-04-10,"{'user_mentions': [{'id_str': '130755098', 'sc...",NaN,0,False,NaN,983562563534270468,983562563534270464,dostiwithronak,9.830000e+17,9.830000e+17,1.307551e+08,1.307551e+08,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,NaN,0,False,NaN,"<a href=""https://www.onedirect.in/"" rel=""nofol...",@dostiwithronak Hi! thanks for sharing your va...,True,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."

In [4]:
for i in range(len(df)):
    df['created_at'][i] = df['created_at'][i][:10]

/home/user/workspace/venv/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
len(df)

99

In [11]:
df.groupby(['created_at'])['favorite_count'].sum()

created_at
2018-04-02      3
2018-04-03      6
2018-04-04      4
2018-04-05    479
2018-04-06      3
2018-04-07      1
2018-04-08      0
2018-04-09      5
2018-04-10      1
2018-04-11     13
2018-04-12      0
Name: favorite_count, dtype: int64

In [12]:
df.groupby(['created_at'])['retweet_count'].sum()

created_at
2018-04-02    167
2018-04-03      7
2018-04-04     43
2018-04-05     78
2018-04-06      1
2018-04-07    220
2018-04-08     88
2018-04-09     42
2018-04-10     26
2018-04-11     47
2018-04-12      0
Name: retweet_count, dtype: int64

In [21]:
#Koovs
Total_Tweets = 99
df = pd.DataFrame({
'02-04': 170,
'03-04': 13,
'04-04': 47,
'05-04': 557,
'06-04': 4,
'07-04': 221,
'08-04': 88,
'09-04': 47,
'10-04': 27,
'11-04': 60,
'12-04': 0}, index=[0])

In [22]:
df

   02-04  03-04  04-04  05-04  06-04  07-04  08-04  09-04  10-04  11-04  12-04
0    170     13     47    557      4    221     88     47     27     60      0

In [23]:
df = pd.read_csv('newtweets.csv')

In [24]:
df.head()

,Unnamed: 0,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,is_quote_status,lang,metadata,place,possibly_sensitive,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,0,NaN,NaN,2018-04-12 6:57:26,"{'user_mentions': [{'id_str': '14068176', 'scr...",NaN,0,False,NaN,984324595443490816,984324595443490816,NaN,NaN,NaN,NaN,NaN,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,0.0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Check out @AhaanPanday chilling at Hyde Park i...,True,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
1,1,NaN,NaN,2018-04-11 12:36:13,"{'media': [{'id_str': '984047430311317506', 's...","{'media': [{'id_str': '984047430311317506', 's...",13,False,NaN,984047465249824769,984047465249824768,NaN,NaN,NaN,NaN,NaN,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,0.0,1,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Style runs in the family ‚ù§üëå #AnanyaPanday in t...,False,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
2,2,NaN,NaN,2018-04-10 6:21:35,"{'user_mentions': [{'id_str': '1354021147', 's...",NaN,0,False,NaN,983590800272560129,983590800272560128,dubeyira,NaN,NaN,1.354021e+09,1.354021e+09,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,0.0,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",@dubeyira spotted in @BHG wearing this floral ...,True,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
3,3,NaN,NaN,2018-04-10 5:41:47,"{'user_mentions': [{'id_str': '199464518', 'sc...",NaN,0,False,NaN,983580784542953472,983580784542953472,thenidasheriff,9.830000e+17,9.830000e+17,1.994645e+08,1.994645e+08,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,NaN,0,False,NaN,"<a href=""https://www.onedirect.in/"" rel=""nofol...",@thenidasheriff Hi! Thanks for your valuable f...,False,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."
4,4,NaN,NaN,2018-04-10 4:29:23,"{'user_mentions': [{'id_str': '130755098', 'sc...",NaN,0,False,NaN,983562563534270468,983562563534270464,dostiwithronak,9.830000e+17,9.830000e+17,1.307551e+08,1.307551e+08,False,en,"{'iso_language_code': 'en', 'result_type': 're...",NaN,NaN,0,False,NaN,"<a href=""https://www.onedirect.in/"" rel=""nofol...",@dostiwithronak Hi! thanks for sharing your va...,True,"{'profile_sidebar_fill_color': 'DDEEF6', 'prof..."

In [66]:
ast.literal_eval(df['entities'][1])

{'hashtags': [{'indices': [28, 41], 'text': 'AnanyaPanday'},
  {'indices': [81, 91], 'text': 'KOOVSXYou'}],
 'media': [{'display_url': 'pic.twitter.com/6xdjgcfgxe',
   'expanded_url': 'https://twitter.com/mykoovs/status/984047465249824769/photo/1',
   'id': 984047430311317506,
   'id_str': '984047430311317506',
   'indices': [92, 115],
   'media_url': 'http://pbs.twimg.com/media/DagJ7JXXkAIfJgh.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/DagJ7JXXkAIfJgh.jpg',
   'sizes': {'large': {'h': 1024, 'resize': 'fit', 'w': 768},
    'medium': {'h': 1024, 'resize': 'fit', 'w': 768},
    'small': {'h': 680, 'resize': 'fit', 'w': 510},
    'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
   'type': 'photo',
   'url': 'https://t.co/6xdjgcfgxe'}],
 'symbols': [],
 'urls': [],
 'user_mentions': [{'id': 2693027443,
   'id_str': '2693027443',
   'indices': [63, 75],
   'name': 'NobleFaith',
   'screen_name': 'noblefaith_'}]}

In [52]:
df['geo']

Series([], Name: geo, dtype: int64)

In [109]:
ast.literal_eval(df['user'][1]).keys()

dict_keys(['profile_image_url_https', 'entities', 'id', 'profile_sidebar_border_color', 'id_str', 'default_profile_image', 'profile_use_background_image', 'profile_image_url', 'default_profile', 'protected', 'description', 'profile_banner_url', 'url', 'friends_count', 'utc_offset', 'name', 'location', 'listed_count', 'favourites_count', 'profile_text_color', 'geo_enabled', 'followers_count', 'has_extended_profile', 'profile_link_color', 'statuses_count', 'follow_request_sent', 'lang', 'time_zone', 'is_translation_enabled', 'profile_background_image_url', 'contributors_enabled', 'profile_background_image_url_https', 'profile_background_tile', 'profile_sidebar_fill_color', 'notifications', 'screen_name', 'created_at', 'profile_background_color', 'translator_type', 'verified', 'following', 'is_translator'])

In [ ]:
created_at (date)
Entities
    - # user_mentions
    - # media boolean
    - # hashtags
favorite_count
in_reply_to_screen_name (Tweet is a Reply or not)
retweet_count
text (Sentiment)
user 
    - Screen name is brand or normal user
    - statuses_count (# of Tweets)
    - friends_count (# of Following)
    - favourites_count (# of Likes)
    - followers_count (# of Followers)
    - profile_image_url_https

In [112]:
print(ast.literal_eval(df['user'][1])['screen_name'],
ast.literal_eval(df['user'][1])['name'],
ast.literal_eval(df['user'][1])['statuses_count'],
ast.literal_eval(df['user'][1])['friends_count'],
ast.literal_eval(df['user'][1])['favourites_count'],
ast.literal_eval(df['user'][1])['followers_count'],
ast.literal_eval(df['user'][1])['profile_image_url_https'])

mykoovs Koovs.com 11688 1223 2102 43827 https://pbs.twimg.com/profile_images/763974629140500480/7ZU1U-D3_normal.jpg

In [99]:
df = pd.read_csv('newtweets.csv')
new_df = pd.DataFrame({'Tweet Created At':df['created_at'],
                      'Tweet Favorited':df['favorite_count'],
                      'Reply or Not':df['in_reply_to_screen_name'].isnull(),
                      'Retweet Count':df['retweet_count'],
                      'Tweet':df['text']})

In [100]:
new_um = []
new_media = []
new_ht = []

for i in range(len(df)):
    js = ast.literal_eval(df['entities'][i])
    if('user_mentions' in js.keys()):
        valsm = []
        for elem in js['user_mentions']:
            valsm.append(elem['screen_name'])
        new_um.append(valsm)
    else:
        new_um.append('')
    
    if('media' in js.keys()):
        new_media.append('Yes') #Yes or No
    else:
        new_media.append('No')
    
    if('hashtags' in js.keys()):
        vals = []
        for elem in js['hashtags']:
             vals.append(elem['text'])
        new_ht.append(vals)
    else:
        new_ht.append([])

In [98]:
new_ht

[[],
 ['AnanyaPanday', 'KOOVSXYou'],
 ['KOOVS', 'KOOVSFashion'],
 [],
 [],
 [],
 [],
 ['KOOVSXyou'],
 ['KOOVSLondonDiaries', 'KOOVSXYou'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['KOOVSXYou'],
 [],
 [],
 [],
 [],
 ['Koovsxyou'],
 ['Koovsxyou'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['KOOVSXYou'],
 [],
 ['ootdStyle', 'ootdfashion', 'fashion', 'poser'],
 ['ootdStyle', 'ootdfashion', 'fashion', 'poser'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['photography', 'fashion'],
 ['fashionblogger', 'OOTD', 'pose', 'koovs', 'follow'],
 ['Koovsxyou'],
 [],
 [],
 ['Koovsxyou'],
 [],
 ['allthatsfancy'],
 ['KOOVSXYou'],
 ['fashionblogger', 'OOTD', 'pose', 'koovs', 'follow'],
 [],
 [],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 [],
 [],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 ['KOOVSXYou'],
 [],
 [],
 [],
 ['KOOVSXYou'],
 ['roadiesxtreme'],
 [],
 [],
 ['FilmfareXKOOVS'],
 ['StepIntoKOOVS'],
 [],
 [],
 [],
 [],
 ['OOTD'],
 [],
 ['FilmfareXKOOVS'],
 ['trending',
  'online',
  'fashion',
  'stores',
  'clothes',
  'trendyclothes',
  'girls'],
 [],
 [],
 ['roadiesxtreme'],
 [],
 ['FilmfareXKOOVS'],
 [],
 ['BewakoofTurns6'],
 [],
 ['BewakoofTurns6'],
 [],
 ['BewakoofTurns6']]

In [101]:
len(new_um), len(new_media), len(new_ht)

(99, 99, 99)

In [102]:
new_df.insert(loc=5, column='User mentioned in Tweet', value=new_um)
new_df.insert(loc=6, column='Media File or Not', value=new_media)
new_df.insert(loc=7, column='Hashtags Used', value=new_ht)

In [ ]:
print(ast.literal_eval(df['user'][1])['screen_name'],
ast.literal_eval(df['user'][1])['name'],
ast.literal_eval(df['user'][1])['statuses_count'],
ast.literal_eval(df['user'][1])['friends_count'],
ast.literal_eval(df['user'][1])['favourites_count'],
ast.literal_eval(df['user'][1])['followers_count'],
ast.literal_eval(df['user'][1])['profile_image_url_https'])

In [114]:
sn = []
name = []
sc = []
fc = []
favc = []
follc = []
ppurl = []

for i in range(len(df)):
    jsn = ast.literal_eval(df['user'][i])
    sn.append(jsn['screen_name'])
    name.append(jsn['name'])
    sc.append(jsn['statuses_count'])
    fc.append(jsn['friends_count'])
    favc.append(jsn['favourites_count'])
    follc.append(jsn['followers_count'])
    ppurl.append(jsn['profile_image_url_https'])
    
new_df.insert(loc=8, column='Company Name', value=name)
new_df.insert(loc=9, column='Screen Company Name', value=sn)
new_df.insert(loc=10, column='Acc Status Count', value=sc)
new_df.insert(loc=11, column='Acc Friends Count', value=fc)
new_df.insert(loc=12, column='Acc Favorites Count', value=favc)
new_df.insert(loc=13, column='Acc Followers Count', value=follc)
new_df.insert(loc=14, column='Profile Picture URL', value=ppurl)

In [129]:
com_df = pd.DataFrame({'SN':sn, 'Name': name, 'SC':sc, 'FC':fc, 'FavC':favc, 'FollowC':follc, 'PPUrl':ppurl})
com_df.to_csv('CompanyInfo.csv', index=False)

In [116]:
for i in range(len(new_df)):
    new_df['User mentioned in Tweet'][i] = ','.join(new_df['User mentioned in Tweet'][i])

/home/user/workspace/venv/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [120]:
for i in range(len(new_df)):
    new_df['Hashtags Used'][i] = ','.join(new_df['Hashtags Used'][i])

/home/user/workspace/venv/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [121]:
new_df.head()

,Reply or Not,Retweet Count,Tweet,Tweet Created At,Tweet Favorited,User mentioned in Tweet,Media File or Not,Hashtags Used,Company Name,Screen Company Name,Acc Status Count,Acc Friends Count,Acc Favorites Count,Acc Followers Count,Profile Picture URL
0,True,0,Check out @AhaanPanday chilling at Hyde Park i...,2018-04-12 6:57:26,0,AhaanPanday,No,,Koovs.com,mykoovs,11688,1223,2102,43827,https://pbs.twimg.com/profile_images/763974629...
1,True,1,Style runs in the family ‚ù§üëå #AnanyaPanday in t...,2018-04-11 12:36:13,13,noblefaith_,Yes,"AnanyaPanday,KOOVSXYou",Koovs.com,mykoovs,11688,1223,2102,43827,https://pbs.twimg.com/profile_images/763974629...
2,False,0,@dubeyira spotted in @BHG wearing this floral ...,2018-04-10 6:21:35,0,"dubeyira,BHG",No,"KOOVS,KOOVSFashion",Koovs.com,mykoovs,11688,1223,2102,43827,https://pbs.twimg.com/profile_images/763974629...
3,False,0,@thenidasheriff Hi! Thanks for your valuable f...,2018-04-10 5:41:47,0,thenidasheriff,No,,Koovs.com,mykoovs,11688,1223,2102,43827,https://pbs.twimg.com/profile_images/763974629...
4,False,0,@dostiwithronak Hi! thanks for sharing your va...,2018-04-10 4:29:23,0,dostiwithronak,No,,Koovs.com,mykoovs,11688,1223,2102,43827,https://pbs.twimg.com/profile_images/763974629...

In [130]:
new_df.to_csv('CompleteUserInfo.csv', index=False)

In [92]:
new_df['User mentioned in Tweet'][98]

[{'id': 140145168,
  'id_str': '140145168',
  'indices': [3, 12],
  'name': 'Bewakoof.com',
  'screen_name': 'bewakoof'},
 {'id': 97886775,
  'id_str': '97886775',
  'indices': [18, 26],
  'name': 'Koovs.com',
  'screen_name': 'mykoovs'}]